@model IEnumerable<Dziennik.Models.Klasa>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wychowawca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wychowawca.imie)
                    @Html.DisplayFor(modelItem => item.Wychowawca.nazwisko)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.KlasaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.KlasaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.KlasaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>